body {
  margin: 0;
  padding: 0;
  background-color: rgb(139, 188, 204);
  color: #1E1E1F;
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

code {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
